body{
    background-color: rgb(163, 214, 255);
}
h1{
color: rgb(187, 187, 238);
background-color: rgb(145, 130, 74);
}

#show_sketch{
    float: right;
}

canvas{
    border:5px solid rgb(128, 128, 139);
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
from{box-shadow: 1px 1px 38px rgb(255, 174, 174);}
to{box-shadow: 1px 1px 38px rgb(95, 201, 95);}
}

p{
    padding-top: 10px;
    font-size: 25px;
}
h3{
    color: crimson;
}